@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-around;
    height: 10rem;
    font-size: 3rem;
    background-color: grey;
    color: white;
}

h3 {
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: grey;
}

.textLogin {
    display: flex;
    align-items: center;
}

.textLoged {
    display: none;
    align-items: center;
}

.logoutButton {
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    height: 7rem;
    width: 20rem;
    font-size: 2.5rem;
}

.formContainer {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 100rem;
    height: 40rem;
}

input {
    width: 60rem;
    height: 6rem;
    font-size: 2.5rem;
    text-align: center;
}

.sendButton {
    height: 4rem;
    width: 20rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: none;
    margin: auto;
    justify-content: center;
    width: 90%;
}

.filterContainer {
    display: none;
    flex-flow: column wrap;
    align-items: center;
    width: 20%;
}

.buttonRestore {
    position: sticky;
    top: 3rem;
    color: red;
    border: solid red 1px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 90%;
    height: 6rem;
    font-size: 3rem;
}

.buttonBrandAdidas, .buttonBrandNike, .buttonBrandPuma, .buttonModelSneakers, .buttonModelSport, .buttonModelRunning, .buttonSortLow, .buttonSortHigh  {
    color: blue;
    border: solid blue 1px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 90%;
    height: 6rem;
    font-size: 3rem;
}

.buttonAll, .buttonSort, .buttonBrand, .buttonModel, .buttonSale {
    color: green;
    border: solid green 1px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 90%;
    height: 6rem;
    font-size: 3rem;
}

.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.card { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 35rem;
    height: 60rem;
    border: 3px solid lightgrey;
    margin: 1rem;
}

.image {
    width: 34.4rem;
    height: 34.4rem;
}

.textContainer {
    margin: auto;
}

.textBrand {
    padding: 0.3rem;
    font-size: 4.5rem;
    color: black;
    font-weight: bold;
}

.textModel {
    padding: 0.3rem;
    font-size: 3.5rem;
    color: black;
    font-weight: normal;
}

.textColor {
    padding: 1rem;
    font-size: 2.5rem;
    color: black;
    font-weight: lighter;
}

.textPrice {
    padding: 1rem;
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
}

.sale {
    background-color: black;
    color: white;
    margin: 0;
    width: 35rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}